/* Подключение собственного шрифта */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url('../webfonts/montserrat-v12-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../webfonts/montserrat-v12-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

h2 {
	max-height: 19px;
	overflow: hidden;
	margin: 0;
	font-size: 16px;
	padding: 7px 10px;
	text-align: center;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: rgb(102,102,102);
}
/*Отключение выделения текста*/ 
*::selection {
  background: transparent;
}

.white .selectable::selection {
	background: rgb(85, 255, 85);
	color: #000000;
}

.black .selectable::selection {
	background: #3e0081;
	color: #ffffff;
}

*:focus {
  outline: none;
}

h3 {
  overflow: hidden;
  margin: 0;
  font-size: 16px;
  padding: 10px;
  text-align: center;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(102,102,102);
}

input {
	font-family: "Montserrat";
}

body {
	cursor: default;
	font-family: "Montserrat";
	margin: 0;
}

.white {
	color: #323232;
	background-color: #e1e1e1; 
}

.black {
	background-color: #323232;
	color: #e1e1e1;
}

#main-container {
	user-select: none;
	padding: 0 3px;
	display: flex;
	justify-content: space-between;
	min-height: 500px;
}

h1 {
	user-select: none;
  background-image: url(../img/logo.png);
  background-size: auto 100%;
  background-size: 50px;
  background-position: left;
  background-repeat: no-repeat;
  padding-left: 60px;
  margin: 0 0 0 15px;
  padding: 21.44px 0 21.44px 60px;
}

#bnw {
	user-select: none;
	border-radius: 3px;
	padding: 5px;
	position: absolute;
	top: 5px;
	right: 5px;
	font-size: 10px;
	cursor: pointer;
}

.black #bnw:hover {
	background-color: #e1e1e1;
	color: #202020;
}

.white #bnw:hover {
	background-color: #202020;
	color: #e1e1e1;
}

#workspace {
	position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
}

#ws {
	width: 100%;
	overflow-y: hidden;
	overflow-x: hidden;
	margin-left: 20px;
	min-width: 500px;
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	border-color: rgb(102,102,102);
  position: relative;
}

.black #ws {
	background-color: #191919;
}

.white #ws {
	background-color: #f1f1f1;
}

canvas {
	z-index: 4;
	position: absolute;
}

.semantic-item {
	z-index: 5;
	border-radius: 3px;
	top: 10px;
	left: 10px;
	width: 150px;
	border-style: solid;
	border-width: 1px;
  position: absolute;
}

.semantic-item ul {
	overflow: hidden;
  list-style: none;
  font-size: 11px;
  padding: 5px 5px 0 5px;
  margin: 0;
}

.semantic-item li {
  border: 1px solid rgb(102,102,102);
  border-radius: 5px;
  padding: 0 5px;
  margin-bottom: 1px;
}

/*Отключение выделения текста*/ 
.semantic-item li::selection {
	background: transparent;
}

.white .semantic-item:hover {
	background-color: #eaeaea;
}

.black .semantic-item:hover {
	background-color: #303030;
}

.black .semantic-item {
	border-color: #3e0081;
	background-color:rgb(50, 50, 50);
}

.white .semantic-item {
	border-color: #090;
	background-color: rgb(225, 225, 225);
}

#tools {
	display: flex;
	flex-direction: column;
	border: solid 1px rgb(102,102,102);
	border-radius: 5px;
  width: 52px;
  min-width: 52px;
  max-width: 52px;
}

#items {
  margin-left: 20px;
	border-color: rgb(102,102,102);
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	width: 200px;
  min-width: 200px;
  max-width: 200px;
}



.button {
	position: relative;
	z-index: 7;
  	text-align: center;
	margin-top: 10px;
	margin-left: 9px;
	width: 18px;
	height: 18px;
	font-size: 14px;
	font-family: inherit;
	padding: 7px;
	border: none;
	border-radius: 15px;
	cursor: pointer;
}

.button > * {
	cursor: inherit;
}

.button span {
  height: 17.8px;
	z-index: -1;
  padding: 7px;
  position: absolute;
  top: 0;
  padding-left: 34px;
  left: -10px;
  border-radius: 15px;
  margin-left: 10px;
  display: none;
}

.button:hover span {
	display: inline;
}

.white .button {
	background-color: #8f8;
	color: #090;
}

.white .button span {
	background-color: #8f8;
}

.black .button {
	background-color: #3e0081;
	color: #b775ff;
}

.black .button span {
  background-color: #370073;
}

.white .button:hover {
	background-color: #55ff55;
	color: #020;
}

.black .button:hover {
	background-color: #370073;
	color: #cea2ff;
}

.black .selected-lmb h2, .black li.selected-lmb {
	color: #ff6;
}

.white .selected-lmb h2, .white li.selected-lmb {
	color: #990;
}

.black .selected-ctrl h2, .black li.selected-ctrl {
	color: #f66;
}

.white .selected-ctrl h2, .white li.selected-ctrl {
	color: #900;
}

.notification-connection-window {
	border-width: 1px;
	border-style: solid;
	transform: scale(0.8);
	display: none;
	width: 500px;
	border-radius: 5px;
	height: 150px;
	position: fixed;
	z-index: 12;
	transition: transform 0.5s, opacity 0.5s;
}

h4 {
  margin: 0;
  padding: 2px 5px;
  font-weight: normal;
  font-size: 13px;
}

.black h4 {
  background-color: rgb(55, 0, 115);
  color: rgb(206, 162, 255);
}

.white h4 {
  background-color: rgb(85, 255, 85);
  color: rgb(0, 34, 0);
}

.black .notification-connection-window {
	background-color: rgb(50,50,50);
	border-color: rgb(55,0,115);
}

.white .notification-connection-window {
	background-color: rgb(225,225,225);
	border-color: rgb(85,255,85);
}

.black .notification-connection-window .button {
	background-color: rgb(62, 0, 129);
  color: rgb(183, 117, 255);
}

.white .notification-connection-window .button {
	background-color: rgb(136, 255, 136);
  color: rgb(0, 153, 0);
}

.item-panel {
	opacity: 0;
	border-width: 1px;
	border-style: solid;
	transform: scale(0.8);
	display: none;
	width: 400px;
	border-radius: 5px;
	max-height: 600px;
	position: fixed;
	z-index: 10;
	transition: transform 0.5s, opacity 0.5s, top 0.5s;
}

.item-panel.show {
	opacity: 1;
	transform: scale(1);
}

.item-panel.fading {
	opacity: 0.5;
}

.item-panel .button {
	margin: 0 0 0 20px;
}

.item-panel .button:hover {
	color: rgb(0, 34, 0);
}

.black .item-panel .button {
	background-color: rgb(62, 0, 129);
  color: rgb(183, 117, 255);
}

.white .item-panel .button {
	background-color: rgb(136, 255, 136);
  color: rgb(0, 153, 0);
}

.black .item-panel .button:hover {
	background-color: rgb(55, 0, 115) !important;
	color: rgb(206, 162, 255) !important;
}

.white.item-panel .button {
	background-color: rgb(136, 255, 136);
  color: rgb(0, 153, 0);	
}

.white .item-panel .button:hover {
	background-color: rgb(85, 255, 85) !important;
  color: rgb(0, 34, 0) !important;	
}

.item-panel .button span{
  width: 132px;
	font-size: 13px;
}

.white .item-panel .button span{
	background-color: rgb(85, 255, 85) !important;
  color: rgb(0, 34, 0) !important;
}

.black .item-panel .button span{
	background-color: rgb(55, 0, 115) !important;
	color: rgb(206, 162, 255) !important;
}

.item-panel li {
	position: relative;
}

.item-panel li .button {
	font-size: 13px;
	position: absolute;
  right: 0px;
}

.item-panel li .button span{
  width: 167px;
  top: 0.5px;
  right: 0px;
  padding-left: 0;
  left: unset;
	font-size: 13px;
}
    
.black .item-panel {
	background-color: rgb(50,50,50);
	border-color: rgb(55,0,115);
}

.white .item-panel {
	background-color: rgb(225,225,225);
	border-color: rgb(85,255,85);
}

.dark-background {
	opacity: 0;
	transition: opacity 0.5s;
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgb(0,0,0);
	z-index: 9;
}

.dark-background.show {
	opacity: 0.5;
}

.close-label {
	z-index: 11;
	opacity: 0;
	position: fixed;
  	transform: translate(0, 30px);	
  	left: 115px;
	transition: opacity 0.3s linear, transform 0.3s ease;
}

.black .close-label {
  	color: rgb(225,225,225);
}

.white	 .close-label {
  	color: rgb(32,32,32);
}

.dark-background:hover ~ .close-label {
	opacity: 1;
  	transform: translate(0, 0);
}

.second-dark-background {
	z-index: 11;
	opacity: 0;
	transition: opacity 0.5s;
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgb(0,0,0);
}

.item-panel li {
	display: flex;
	justify-content: space-between;
	height: 32px;
	min-height: 32px;
	max-height: 32px;
	margin-top: 5px;
  list-style-type: none; /* Убираем маркеры */
}

.item-panel ul {
	overflow-y: overlay;
	max-height: 300px;
	margin: 16px 0 0 0;
	padding: 0 20px;
}

.data-index {
	width: 160px;
	border-radius: 20px;
  padding: 4px 4px 4px 8px;
  border: rgb(102,102,102) 1px solid;
}

.black .data-index {
  background-color: rgb(50,50,50);
  color: rgb(225,225,225);
}

.white .data-index {
  background-color: rgb(225,225,225);
  color: rgb(50,50,50);
}

.data-value {
	width: 160px;
	background-color: rgb(225, 225, 225);
	border-radius: 20px;
  padding: 4px 4px 4px 8px;
  border: rgb(102,102,102) 1px solid;
  color: rgb(50,50,50);
}

.data-header {
	font-size: 20px;
	text-align: center;
	width: 300px;
	height: 35px;
	border-radius: 23px;
	border: rgb(102,102,102) 1px solid;
  padding: 4px 4px 4px 8px;
}

.black .data-header {
	background-color: rgb(50,50,50);
	color: rgb(225, 225, 225);
}

.white .data-header {
	background-color: rgb(225, 225, 225);
	color: rgb(50, 50, 50);
}

.data-index.white {
  background-color: rgb(225,225,225);
  color: rgb(50,50,50);
}

.button-place {
  margin-top: 5px;
  margin-bottom: 32px;
  padding: 0 20px;
  height: 32px;
  display: flex;
  justify-content: space-between;
}

#sem-done span {
	width: 167px;
  right: 0px;
  padding-left: 0;
  left: unset;
  font-size: 13px;
}

#new-sem-item-data {
	margin: 0;
}

#edit-done {
	width: initial;
	margin: 5px auto;
	width: 
}

#right-button-panel {
  padding: 10px;
	display: flex;
	justify-content: space-between;
}

.right-buttons {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 46%;
	height: 32px;
	border-radius: 20px;
}

.white .right-buttons {
	background-color: #8f8;
	color: #090;
}

.black .right-buttons {
	background-color: #3e0081;
	color: #b775ff;
}

.white .right-buttons:hover {
	background-color: #55ff55;
	color: #020;
}

.black .right-buttons:hover {
	background-color: #370073;
	color: #cea2ff;
}

.right-selected {
	border-style: solid;
	border-width: 2px;
	margin: -2px;
}

.white .right-selected {
	border-color: #3e0081;
}

.black .right-selected {
	border-color: #8f8;
}

.black .right-selected:hover {
	border-color: #55ff55;
}

.white .right-selected:hover {
	border-color: #370073;
}

#items-list {
	padding: 0;
	margin: 0;
	overflow: auto;
}

#items-list .identifier {
	left: auto;
	right: 0;
	width: 20px;
}

#items-list li {
    position: relative;
	overflow: hidden;
	cursor: pointer;
	border-radius: 10px;
	border: rgb(102,102,102) solid 1px;
	min-height: 20px;
  font-size: 14px;
	list-style-type: none;
	margin: 0 10px 2px 10px;
  padding: 3px 3px 1px 10px;
}

#items-list li::selection {
	background: transparent;
}

.black #items-list li {
	background-color: #191919;
}

.white #items-list li {
	background-color: #f1f1f1;
}

.identifier {
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 3px;
	font-size: 11px;
	padding: 2px;
}

.black .identifier {
    background-color: #370073;
    color: #cea2ff;
}

.white .identifier {
    background-color: #55ff55;
    color: #020;
}

#notification-window {
    max-width: 500px;
    min-width: 300px;
	display: none;
	position: fixed;
	z-index: 12;
	opacity: 0;
	border-width: 1px;
	border-style: solid;
	transform: scale(0.8);
	border-radius: 5px;
	transition: transform 0.5s, opacity 0.5s;
}

.black #notification-window {
	background-color: rgb(50,50,50);
	border-color: rgb(55,0,115);
}

.white #notification-window {
	background-color: rgb(225,225,225);
	border-color: rgb(85,255,85);
}

#notification-window h5 {
	text-align: center;
	padding: 0 30px;
    font-weight: normal;
}

.notification-button-area {
	display: flex;
	justify-content: space-around;
}

.notification-button {
	font-family: inherit;
	display: block;
    margin: 0 auto 10px;
	border-radius: 30px;
	border: none;
	height: 32px;
	padding: 0 15px;
	cursor: pointer;
}

.white .notification-button {
	background-color: #8f8;
	color: #090;
}

.black .notification-button {
	background-color: #3e0081;
	color: #b775ff;
}

.white .notification-button:hover {
	background-color: #55ff55;
	color: #020;
}

.black .notification-button:hover {
	background-color: #370073;
	color: #cea2ff;
}

.hidden ul {
	display: none;
}

.toggle-list-view .fa-angle-down {
	display: none;
}

.hidden .fa-angle-up {
	display: none;
}

.hidden .fa-angle-down {
	display: block;
}

.toggle-list-view {
	cursor: pointer;
	font-size: 12px;
	line-height: 12px;
	text-align: center;
}

.scale-out .fa-search-plus {
	display: inline !important;
}

.scale-out .fa-search-minus {
	display: none !important;
}

.fa-search-plus {
	display: none !important;
}

.fa-search-minus {
	display: inline !important;
}

.scale-out .semantic-item {
	transform: scale(0.7);
	transform-origin: 0 0;
} 