/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url('fonts/montserrat-v12-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/montserrat-v12-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

h2 {
	margin: 0;
	font-size: 16px;
	padding: 10px;
	text-align: center;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #666666;

}

body {
	font-family: "Montserrat";
}

body.black {
	background-color: #323232;
}
.white {
	color: #323232;
	background-color: #e1e1e1; 
}

.black {
	background-color: #323232;
	color: #e1e1e1;
}

body > div {
	display: flex;
	justify-content: space-between;
}

h1 {
	text-align: center;
}

#bnw {
	border-radius: 3px;
	padding: 5px;
	position: absolute;
	top: 5px;
	right: 5px;
	font-size: 10px;
	cursor: pointer;
}

#bnw.black:hover {
	background-color: #e1e1e1;
	color: #202020;
}

#bnw.white:hover {
	background-color: #202020;
	color: #e1e1e1;
}

#workspace {
	width: 100%;
	margin-left: 20px;
	min-width: 500px;
	height: 570px;
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	border-color: #666666;
	overflow-y: scroll;
	overflow-x: scroll;
  position: relative;
}

#workspace.black {
	background-color: #191919;
}

#workspace.white {
	background-color: #f1f1f1;
}

.semantic-item.white:hover {
	background-color: #e1e1e1;
}

.semantic-item.black:hover {
	background-color: #303030;
}

.semantic-item {
	border-radius: 3px;
	cursor: pointer;
	top: 10px;
	left: 10px;
	width: 150px;
	height: 200px;
	border-style: solid;
	border-width: 1px;
  position: absolute;
}

.semantic-item.black {
	border-color: #3e0081;	
}

.semantic-item.white {
	border-color: #090;	
}

#tools {
	padding-top: 10px;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	min-width: 200px;
	border-color: #666666;
}

.button {
  width: fit-content;
	font-size: 14px;
	font-family: inherit;
	padding: 7px;
	border: none;
	border-radius: 15px;
	cursor: pointer;
}

.button.white {
	background-color: #8f8;
	color: #090;
}

.button.black {
	background-color: #3e0081;
	color: #922fff;
}

.button.white:hover {
	background-color: #55ff55;
	color: #020;
}

.button.black:hover {
	background-color: #370073;
	color: #b775ff;
}

.selected-lmb.black h2 {
	color: #ff6;
}

.selected-lmb.white h2 {
	color: #990;
}

.selected-ctrl.black h2 {
	color: #f66;
}

.selected-ctrl.white h2 {
	color: #900;
}